<!DOCTYPE html>
<html>
<head>
  <title>Create Tasks</title>
   <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <h1>Create a New Task</h1>

  <form method="POST" action="/task/create">
    <label>Task Title:</label><br>
    <input type="text" name="task_name" required><br><br>

    <label>Description:</label><br>
    <textarea name="task_description" required></textarea><br><br>

    <label>Author Name:</label><br>
    <input type="text" name="task_author" required><br><br>

    <button type="submit">Create Task</button>
  </form>

  <a href="/users/home">Back to Home</a>
</body>
</html>
